*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    height: 100%;
    width: 100%;
}

li{
    list-style: none;
}

.red{
    color: red;
}

footer{
    background-color: grey;
    display: flex;
    justify-content: space-around;
}
