.header{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
}

@media screen and (max-width: 37.5rem) {
    .header{
        display: flex;
        flex-direction: column;
    }
}
